@{
    var user = (string) ViewData["User"];
}

<nav class="nav">
    <div id="logo">
        <img src="img/logo.png" alt="logotipo">
    </div>
    <ul>
        <li><a href='@Url.Action("Index", "Home")#produto'>Produto</a></li>
        <li><a href='@Url.Action("Index", "Home")#historia'>História</a></li>
        <li><a href='@Url.Action("Index", "Home")#planos'>Planos</a></li>
        <li><a href='@Url.Action("Index", "Home")#contato'>Suporte</a></li>
       
        @if(string.IsNullOrEmpty(user))
            {
                <li><a id="bt_login" asp-controller="Login" asp-action="Index">Login</a></li>
            } else 
            {
                <li><a id="bt_logout" asp-controller="Login" asp-action="Logout">Logout</a></li>
            }

        <li><a href='@Url.Action("Index", "Cadastro")'>Cadastrar</a></li>
    </ul>
</nav>
<div class="linha_amr"></div>  
