@model PontoDigitalMVC.ViewModel.ListasViewModel
@{
    Layout = "_Layout";
}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
    <link rel="stylesheet" href="~/css/listas.css" type="text/css">
    <title>Lista De Comentários</title>
</head>

<nav class="nav">
    <div id="logo">
        <img src="img/logo.png" alt="logotipo">
    </div>
    <ul>
        <li><a href='@Url.Action("Usuarios", "Administrador")'>Lista de Usuários</a></li>
        <li><a href='@Url.Action("Comentarios", "Administrador")'>Lista de Comentários</a></li>
        <li><a href='@Url.Action("Index", "Administrador")'>Voltar</a></li>
        <li><a id="bt_logout" asp-controller="Login" asp-action="Logout">Logout</a></li>
    </ul>
</nav>

<div class="linha_amr"></div>  

<div class="container">
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>Texto</th>
            <th>Data da postagem</th>
        </tr>
    </thead>
    <tbody>

        @foreach(var c in Model.Comentarios)
            {
                <td>@c.Id</td>
                <td>@c.Usuario.Nome</td>
                <td>@c.Texto</td>
                <td>@c.DataCriacao</td>
                <td>
                <td><button><a href="/Administrador/AprovarComentario?id=@c.Id">Aprovar</a></button></td>    
                <td><button><a href="/Administrador/Rejeitar?id=@c.Id">Rejeitar</a></button></td> 
                </td>
            }
    </tbody>
</table>
</div>
